In [1]:
import pandas as pd

In [3]:
#QUESTION 1
data = [4,8,15,16,23,42]
print(pd.Series(data))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#QUESTION 2
list = [1,2,3,4,5, True, False, 'shruti', 'anand', 'pw']
series = pd.Series(list)
print(series)

0         1
1         2
2         3
3         4
4         5
5      True
6     False
7    shruti
8     anand
9        pw
dtype: object

In [7]:
#QUESTION 3
data = {'Name' : ['Alice', 'Bob', 'Claire'],
       'Age' : [25, 30, 27],
       'Gender' : ['Female', 'Male', 'Female']}

print(pd.DataFrame(data))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [10]:
#QUESTION 4
#Dataframe in pandas is 2D data structure that can contain more than one data type where as 
#series in pandas is a 1D data structure which can only contain one type of data.

print('dataframe')
data = {'Name' : ['Alice', 'Bob', 'Claire'],
       'Age' : [25, 30, 27],
       'Gender' : ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

print('series')
d = [4,8,15,16,23,42]
print(pd.Series(d))

dataframe
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
series
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

QUESTION 5
head()
tail()
shape
info()
describe()
sort_values()
groupby()
dropna()
fillna()
merge()

In [12]:
print(df.describe())

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

In [13]:
#QUESTION 6 
#DATAFRAME IS MUTABLE

In [16]:
#QUESTION 7
name = pd.Series(['John', 'Alice', 'Bob'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['Male', 'Female', 'Male'])

pic = ['Name': name, 'Age': age, 'Gender': gender]
print(pd.DataFrame(pic))

SyntaxError: invalid syntax (430060649.py, line 6)